# Print Function

In [3]:
print('hello world')

hello world

In [4]:
print('helo', 7, 4.5) # seperator by default is space

helo 7 4.5

In [8]:
print("hellow world",1.4,3.6, sep = '/')

hellow world/1.4/3.6

In [9]:
print("hello")
print("world") # end is by default line change

hello
world

In [10]:
print("hello" ,end = '-')
print("world")

hello-world

# Data Types

In [11]:
# Integer (1*10^308 big number python supports)
print(1)

1

In [13]:
#Decimal/float (1.7*10^308)
print(8.55)
print(1.7e308)

8.55
1.7e+308

In [14]:
#Boolean
print(True)
print(False)

True
False

In [1]:
#Text/string
print('hello world')

hello world

In [2]:
#Complex number
print(5+6j)

(5+6j)

In [3]:
#List (roughly same as C array)(mutable)
print([1,2,3,4])

[1, 2, 3, 4]

In [4]:
#Tuple (immutable)
print((1,2,3,4))

(1, 2, 3, 4)

In [5]:
#Sets
print({1,2,3,4})

{1, 2, 3, 4}

In [6]:
#Dictionary (key value pairs)
print({'name':'rushill','place':'bangalore'})

{'name': 'rushill', 'place': 'bangalore'}

In [9]:
#type fucntion (not a data type)(detects data type)
type(9.909)

float

# Variables

In [13]:
#Variables are containers that store information or data 
name = 'rushill will be a ML engineer'
print(name)
a = 6
b = 9
print(a+b)

rushill will be a ML engineer
15

.Dynamic typing(Python)
#dont need to tell the data type of the var in python
a = 6

.Static typing(C,C++)
#have to mention the data type of the var
int a = 6

.Dynamic binding(Python)
#variable/var type is not fixed, data type of a var can be changed anywhere
a = 5
print(a)
a = "rushill"
print(a)

.Static binding(C,C++)
#variable/var type cant be changed once made

In [15]:
#creating multiples var at the same time
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [16]:
#assigning same value to all var
a=b=c=5
print(a,b,c)

5 5 5

# Keywords and Identifiers

.Compiler - converts program(english) at once to binary
.Interpretor - converts line by line of the program to  binary

To help conversion, keywords tell what to do on each instruction.
like - print,def,elif,if,import,in,is,lambda,raise,return,try,while,with,etc

Identifiers: Making own variables,functions,class or names in the program.
Rules: 1.Cannot start with a digit 
2.You can use upper case, lower case and in special chars can only use '_'(underscore)
3. Cannot be keywords

In [26]:
_ = 'rushill'
print(_)
deF1 = 'nair'
print(deF1)

rushill
nair

# User i/p, simple program

In [4]:
fnum = (input('enter first number'))
snum = (input('enter second number'))
sum = fnum + snum
print(sum)

#when you just take input, python by default stores as str.

enter first number 3
enter second number 4

34

# Data Type conversion

In [6]:
#Implicit type conv (python automatically converts one datatype to another)

print(5+5.6)
type(5),type(5.6)

10.6

(int, float)

In [8]:
#Explicit type conv( user has to define the data conversion,as ex int)
type(int('4'))

int

In [12]:
fnum = (input('enter first number'))
snum = (input('enter second number'))
sum = int(fnum) + int(snum)
print(sum)
type(fnum)
# here the fnum datatype remains str, but the new value becomes int
#during the sum, the original datatype remains str itself

enter first number 12
enter second number 12

24

str

# Literals

The value stored inside a variable is called literal

In [15]:
a = 0b1010 #binary literals
b = 100 #decimal literals
c = 0o310 #octal literals
d = 0x12c #hexadecimal literals
print(a,b,c,d)

#Float literal
float_1 = 10.5
float_2 = 1.5e2 #1.5 * 10^2
float_3 = 1.5e-3 #1.5 * 10^-3
print(float_1,float_2,float_3)
#Complex Literal
x = 3.14j
print(x.real,x.imag)

10 100 200 300
10.5 150.0 0.0015
0.0 3.14

In [23]:
string = 'this is python'
strings = "this is a python string"
char = "C"
multiline = '''this is long string with more letters and maybe more lines as well'''
unicode = u"\U0001f600"  #to represent emojis etc
raw_str = r"raw \n string" #to represent line change,tab,slash etc
print(string)
print(strings)
print(char)
print(multiline)
print(unicode)
print(raw_str)

this is python
this is a python string
C
this is long string with more letters and maybe more lines as well
ðŸ˜€
raw \n string

In [27]:
#Boolean literal
a = True + 4    #True and false is represented as 1 and 0 in python(boolean)
b = False + 10

print("a:" , a)
print("b:" , b)

a: 5
b: 10

In [28]:
#None literal
a = None
print(a)
# to keep a variable as stanby to use later, but want to assign nothing to it using None

None

# Operators

1. Arithmetic
2. Relational
3. Logical
4. Bitwise
5. Membership
6. Assignment

In [45]:
# operators are tools used to run computation b/w operands
#Arithmetic

print(5+6)
print(6-5)
print(5*4)
print(5/2)
print(5//2) #integer divison(output is always a integer)
print(4%2) #modulus, outputs the remainder
print(5**2) #power of, exponent (5^2)

11
1
20
2.5
2
0
25

In [49]:
#Relational (comparisons)

print(4>5) #greater than
print(4<5) #lesser than
print(4>=4) #greater than or equal
print(4<=4) #lesser than or equal
print(4!=9) #not equal
print(4==2) #is equal to

False
True
True
True
True
False

In [56]:
#Logical
print(1 and 0)  #both shud be 1
print(1 or 0)   #either shud be 1
print ( not 1 )  #o/p is in boolean, 0 as false

0
1
False

In [68]:
#Bitwise ( operate on binary)

#AND 
print(2&3) #010 011 applying AND

#OR
print(2 | 3) 

#XOR
print(1^3)

#NOT
print(~1)

#left shift
print(4 >> 2)

#right shift
print(5 << 2)

2
3
2
-2
1
20

In [73]:
#Assignment operators

# = 
a = 1
a+= 3 # a = a+3
print(a)

4

In [78]:
#Membership

#in/ not in

print('D' in 'Delhi')
print('i' not in 'Delhi')

print(1 in [1,2,3,4]) # works on all data types

True
False
True

In [86]:
#User inputs 3 digit number, individual sum that nummbers digits
num = int(input("enter a 3 digit number"))
a = num%10  # 5 remainder

num = num // 10 #34 qutioent 34.5 but integer division

b = num%10 #4 remainder of 34/10 is 4

c = num //10 #3 int division of 34 by 10


print(a+b+c)

enter a 3 digit number 666

18

# If-Else Statements

In [92]:
#login program and indentation
#email - rushillnair45@gmail.com
#pass - 1234

email = input("enter email")
password = input('enter password')

if email == 'rushillnair45@gmail.com' and password == '1234':
    print("correct entry")
# if more than 2 possibilites, use elif ( else-if)
elif email == 'rushillnair45@gmail.com' and password != '1234':
    #tell user
    print('Incorrect password')
    password = input("enter password again")
#using if-else inside an if else is called nested if else
    if password == '1234':
        print('welcome,finally')
    else:
        print('beta rehna de tumse na hoga')
else:
    print("wrong entry")

enter email rushillnair45@gmail.com
enter password 32

Incorrect password

enter password again 3323

beta rehna de tumse na hoga

In [3]:
# find the min of 3 given numbers

a = int(input("enter first number"))
b = int(input("enter second number"))
c = int(input("enter third number"))
if a<b and a<c:
    print("smallest is",a)
elif b<c:
    print('smallest is',b)
else:
    print('smallesr is c',c)

enter first number 3
enter second number 4
enter third number 5

smallest is 3

In [1]:
#menu drive calculator

fnum = int(input("enter the first number"))
snum = int(input("enter the second number"))

op = input("enter the operation")
if op == '+':
    print(fnum+snum)
elif op == '-':
    print(fnum-snum)
elif op == '*':
    print(fnum*snum)
else:
    print(fnum/snum)

enter the first number 10
enter the second number 2
enter the operation *

20

### Modules

In [3]:
#math

import math

math.sqrt(5.99)

2.4474476501040834

In [4]:
#keyword 
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
#random

import random
print(random.randint(1,100))

43

In [7]:
#datetime

import datetime

print(datetime.datetime.now())

2024-06-15 17:13:53.195671

### Loops in Python

loops application:  open flipkart, search samsung, number of phones are seen 
each container shows each phones, each container is made once, and a loop is made to print each image,desc,etc. without the need of individual creation.

In [15]:
#While loop (use pythontutor to visualize)
#to print multiplication table of a number
num = int(input('enter the number'))

i = 1 #(iterator)
while i<11:   #check whether i is less than num input,keeping runnning till condition is true
    print(num, '*',i, '=',num*i) # multiply num with i
    i +=1         # go to the next i value

enter the number 20

20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

In [16]:
#while loop with else

x = 1

while x<3:
    print(x)
    x = x+1
else:
    print("limit reached")

1
2
limit reached

In [34]:
#Guessing game 

#generate a random integer between 1-100
import random 
jackpot = random.randint(1,10)  #the guessing number

guess = int(input('guess karo number'))  #input first guess
counter = 1                              #set number of turns(attempts)
while guess != jackpot:                   #while the number is not guessed till then run in loop
    if guess < jackpot:                   #if guessed number is lower than actual number
        print("wrong, guess higher")
        
    else:
        print("wrong,guess lower")
        
    guess = int(input('guess karo number'))
    counter +=1                             #add the attempts
        
else:
    print('correct guess')
    print('attempts',counter)

guess karo number 7

wrong, guess higher

guess karo number 8

correct guess
attempts 2

In [40]:
# For loop 
for i in range(1,11,2):  #range(start , end, step size)
    print(i)
print("*****")
for j in range(5,0,-1):
    print(j)

1
3
5
7
9
*****
5
4
3
2
1

In [54]:
# the current population is 10,000. pop is increasing by 10%, WAP to find pop at the end of each of the last 10 yrs

a = 10000

for i in range(10,0,-1):
    print(i,a)
    
    a = a/1.1

# x+10% of x = 10000 (x is the 9th yr population),solve this x =1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [61]:
#sequence sum (1/1! + 2/2! + 3/3! + ....nth term (from user))

n = int(input("enter n"))
result = 0                      #sum
fact = 1                        #initally 1
for i in range(1,n+1):
    fact = fact *i              #multiply the fact with the number in i to get fact value, when i is 1, fact is 1, fact = 1*1, when i = 2 fact is 1 , fact = 2*1 =2, when i = 3, fact = 2, fact = 2*3 = 6 (3!) and so on
    result = result + i/fact     #adding the sums
    print("the sum is",result)

enter n 6

the sum is 1.0
the sum is 2.0
the sum is 2.5
the sum is 2.6666666666666665
the sum is 2.708333333333333
the sum is 2.7166666666666663

### Nested Loops

In [62]:
#used in cartesian sets applications, where multiple looping is required 

for i in range(1,5):    #outer loop, this runs first, as 1
    for j in range(1,5): #inner loop, this runs 1,2,3,4,5 inside, then it goes back to outer loop to next number and again inner loop is activated
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

*
**
***
pattern 1

In [1]:
n = int(input("number of rows"))

for i in range(1,n+1): # loop the rows
    
    for j in range(1,i+1): # loop the stars
        
        print("*", end = '') # for j loop
    print() # for i loop

number of rows 4

*
**
***
****

1
121
12321
1234321

pattern 2

In [4]:
n = int(input("enter the number of rows"))

for i in range(1,n+1):       #rows 
    for j in range(1,i+1):   # number in each row 
        print(j,end = '')
    for k in range(i-1,0,-1):  #negative loop, staring from max comes to min
        print(k,end='') 
    print()

enter the number of rows 4

1
121
12321
1234321

### Loop Control Statement
### Break
### Continue
### Pass

In [7]:
#break ( to break the flow of loop)
for i in range(1,10):
    if i ==5:
        break
    print(i)
# used in linear searching

1
2
3
4

In [9]:
# user will give a range, print all the prime numbers b/w it

lower = int(input('enter lower range'))
upper = int(input('enter upper range'))

for i in range(lower,upper+1):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i)

enter lower range 10
enter upper range 100

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [10]:
#Continue

for i in range(1,10):
    if i == 5:
        continue          #skips iteration at given i value
    print(i)

#to skip products in ecommerce websites, like to skip prouduct with zero stock.

1
2
3
4
6
7
8
9

In [12]:
#Pass (doesnt throw error when written)

for i in range(1,10):
    pass

### Strings are sequence of chars

### In python strings are a sequence of unicode characters
1. creating strings
2. accessing strings
3. adding chars to strings
4. editing strings
5. deleting string
6. operations on strings
7. string fucntions

###### ASCII was 8bit,very less
###### unicode is 2^16 bit sequences to store more data

In [15]:
# Creating strings

s = 'hello'
s = "it's hello"    #to avoid confusion with inverted comma inside the string
s = '''hello'''     #multiline strings
s = str("hello")    # type conversion
print(s)

hello

In [22]:
#Accessing substrings from a string

s = 'hello world' # python assigns index starting from 0 to n (positive index)
print(s[7])       #from left to right index is +ve index
print(s[-3])
                  #from right to left index is -ve index(starts from -1)

o
r

In [58]:
#String Slicing(start:end:stepsize)

s = 'rushill nair'
print(s[0:3])     #from 0 element to 2nd element
print(s[1:])      #from 1 element to end(skips element before 1
print(s[0::3])   #from 0 to 5 elemnt and skips 1 element (element skip = septsize-1) considerate of the spaces as well
print(s[6:0:-1])  #when stepsize is negative, the first element shud be greater 
print(s[::-1])    # to reverse string
print(s[-1:-8:-2])

rus
ushill nair
rhla
llihsu
rian llihsur
ra l

In [52]:
#Editing and deleting strings

s = 'hello world'
s[0] = 'H'
#python strings are immutable, cannot be changed once made

TypeError: 'str' object does not support item assignment

In [59]:
s = 'hello world'
del(s)  #delete
print(s) 
del s[-1:-4:-2]
#only full string delete happens, partial delete does not happpen

NameError: name 's' is not defined

### String Operations
1. arithmetic
2. relational
3. logical
4. loops
5. membership

In [2]:
#arithmetic
print('delhi'+'mumbai')
print('delhi' *5)

delhimumbai
delhidelhidelhidelhidelhi

In [12]:
#relational (it is done based on the ASCII values of each letter(lexiographic)
a='delhi'!='delhi'
b='delhi'<'mumbai'
c = 'Pune'>'pune'
a,b,c

(False, True, False)

In [16]:
#Logical (if string has chars, it is true, if it is empty it is false)
a='hello'and'world' #checks both 1st and 2nd, since and it will verify both and print the last one verified if both are verified same
b='hello'or'world' #checks 1st, then checks OR, so it doesnt matter which one prints so it doesnt check the next  one and prints the first one itself
c='hello'or''
d='hello'and''
a,b,c,d

('world', 'hello', 'hello', '')

In [17]:
#loops run on strings as strings are iterable
for i in 'hello':
    print(i)

h
e
l
l
o

In [18]:
for i in 'delhi': #acts like for the number of chars in delhi, print pune
    print('pune')

pune
pune
pune
pune
pune

In [20]:
#membership operators(in , not in: case sensitive)
'h' in 'delhi'

True

# String Functions (these work on any datatype)
## as strings are immutable,these functions dont cause any chnages in original strings, it forms a new string with these functions
1. len
2. max
3. min
4. sorted
### These are only on strings
1. capitalize/title/upper/lower/swapcase
2. count/find/index
3. endswith/startswith
4. format
5. isalnum/isalpha/isdigit/isidentifier

In [21]:
#len(counts lenght including spaces)
len('hello world')

11

In [22]:
#max (max value based on ascii )
max('hello')

'o'

In [23]:
#min(min value based on ascii)(space is minimum)
min('gold')

'd'

In [25]:
#sorted(sorts in asc order by default based on ascii in a list, reverse makes it sort in desc)
sorted('hello world',reverse = True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [26]:
#capitalize/title/upper/lower/swapcase

s = 'hello woRld'
s.capitalize() #first letter capital

'Hello world'

In [27]:
s.title() #first letter of each word capital

'Hello World'

In [28]:
s.upper() #makes everything lower

'HELLO WORLD'

In [29]:
s.lower() #makes it lowercase

'hello world'

In [34]:
'heLlo woRlD'.swapcase() #makes upper to lower and vice versa

'HElLO WOrLd'

In [35]:
#count/find/index

'my name is rushill'.count('i') #counts number of substrings in a string

2

In [37]:
'my name is rushill'.find('is') #finds index of substring

8

In [39]:
'my name is nitish'.index('nitish') #similiar to find

11

In [40]:
'my name is rushill'.find('x') #in find if the substring is not present it shows -1 in index it throws error

-1

In [47]:
#endswith
a='my name is rushill'.endswith('hill')
b='my name is rushill'.startswith('r')
a,b

(True, False)

In [51]:
#format(inserts variable value inside a string or sentences)(order matters)
name = 'rushill'
gender = 'male'
'hi my name is {1} and im a {0}'.format(gender,name) #u can decide the position by using index

'hi my name is rushill and im a male'

In [52]:
#isalnum(alpha numeric)(doesnt support special chars)
'rushill01'.isalnum()

True

In [53]:
'rushillnair'.isalpha()

True

In [55]:
'1234a'.isdigit()

False

In [78]:
'False'.isidentifier() #follows rules of making identifer

True

In [65]:
#split(makes string pieces and puts it in a list)(wherever specified substring is there, it breaks it there, default is on space)

'my name is rushill nair'.split('i')

['my name ', 's rush', 'll na', 'r']

In [68]:
#join(assign based on what u want to join the strings present in the array)
" ".join(['hi','you','lo'])

'hi you lo'

In [69]:
#replace
'hi my name is rushill'.replace('rushill','nitish')

'hi my name is nitish'

In [73]:
#strip(removes trailing spaces between substrings)

'nitish                  '.strip()

'nitish'

# Problems to code on strings

In [1]:
#find the len of a given string without using len() function

s = input('enter the string')
counter = 0
for i in s:
    counter +=1
print('length of string is',counter)

enter the string hello

length of string is 5

In [2]:
#extract the given name from the string
s = input("enter the email")

print(s.index('@'))
pos = s.index('@')
print(s[0:pos])

enter the email rushill@gmail

7
rushill

In [5]:
#count the frequency of a particular character

s = input('enter the string')
term = input('what do u want to search')

counter = 0
for i in s:
    if i == term:
        counter+=1
print('freqency ',counter)

enter the string hello hi hey
what do u want to search h

freqency  3

In [7]:
#to remove a particular character from a string

s = input('enter ur string')
term = input('enter what u want to remove')

result = ' '

for i in s:
    if i != term:
        result = result+i
print(result)

enter ur string what
enter what u want to remove a

 wht

In [15]:
#check whether the given string is a palindrome

s = input('enter ur string')

pal = s[::-1]
if s == pal:
    print('string is palindrome')
else:
    print('not a palindrome')

enter ur string abba

string is palindrome

In [16]:
#method 2 for palindrome
s = input('enter ur string')
flag = True
for i in range(0,len(s)//2):
    if s[i] != s[len(s) - i -1]: #checks for inital and ending element, 2nd and last 2nd element and so on
        flag = False
        break
if flag:
    print('Palindrome')

enter ur string abba

Palindrome

In [33]:
#write a program to count number of words in a string w/o split()

s = input('enter a string')
L = []
temp = ' '
for i in s:
    if i != ' ':
        temp = temp+i  #until space it prints in the temo string then after encounter space, it sends that to list and then the loop moves forward with the next word and appends that 
    else:
        L.append(temp)
        temp = ''
L.append(temp)
print(L)

enter a string hi hello

[' hi', 'hello']

In [39]:
#write a program to convert a string to a title case without using title()
s = input('enter a string')
L = []
for i in s.split():
    L.append(i[0].upper() + i[1:].lower()) #make first letter uppercase and second element onwards lower itself

print(" ".join(L))

enter a string hi monne

Hi Monne

In [42]:
#write a program to convert an integer to string

number = int(input("enter a number"))

digits = '0123456789'
result = ''
while number != 0:
    result = digits[number % 10] + result  #split the input number and assign it with the index in the number string and print that 
    number = number//10
print(result)
print(type(result))

enter a number 1234

1234
<class 'str'>

In [2]:
#Measuring time (this method highly depends on the machine its running on, this is not used in industry standard)
#different time for different algorithm(yes)
#time varies if implementation changes(no)
#does not work for extremely small input(no)
#time varies for diff inputs,establish relationship(no)
import time
start = time.time()

for i in range(1,10):
    print(i)
end = time.time()
print(end-start)

1
2
3
4
5
6
7
8
9
0.001035928726196289

### Counting operations
###### assume these steps take constant time
1. mathematical ops
2. comparisons
3. assignments
4. accessing objs in memory

then count the number of operations executed as function of size of input

1. diff time for diff algo(yes)
2. time varies if imp changes(no)
3. diff machines diff time(yes)
4. no clear def of which operation to count(no)
5. time varies for diff inputes,but can establish r/SHIP(yes)

### What do we want?
1. we want to evaluate algo
2. we want to evaluate stability
3. we want to evaluate in terms of input size

 ### ORDERS OF GROWTH  O()
 (*industry standard*)
1. want to evaluate programs efficiency when  *input is very big*
2. want to express the *growth of programs run time* ias input size grows
3. want to put an *upper bound* on growth-as tight as possible (worst case more prominence)
4. do not need to be precise
5. we will look at largest factors in run time
6. *generally we want tight upper bound on growth as function of size of i/p in worst case*

* Find the number of operations
* from the operation equation
* ignore the additive and multiplicative constants

In [6]:
#example

def fact(n):  
    answer = 1  #operation 1
    while n>1:  #opertation 2
        answer *= n  # 2 operations in the same line
        n -= 1       #2 operations in the same line
    return answer
# totaly 1+5n+1
# 5n+2
#5n
#n (based on input, output increases or decreases n times)

### Types of orders of growth (input - output relation)

* Constant
* Linear
* Quadratic
* logarithmic
* n log n
* exponential